.container {
  max-width: 100%;
  margin: auto;
}

.row {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.margin-auto {
  margin: auto;
}

.width-seventy {
  width: 70%;
}

.width-thirty {
  width: 30%;
}

.width-fifty {
  width: 50%;
}

.width-forty-eight {
  width: 48%;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.column-one-fifth {
  flex-basis: 10%;
}

.column-one-fourth {
  flex-basis: 25%;
}

.column-one-ten {
  flex-basis: 10%;
}

.font-tiempos {
  font-family: "Tiempos Headline", sans-serif;
}

.font-avenir {
  font-family: Avenir, sans-serif;
}

.font-weight-500 {
  font-weight: 500;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-23 {
  font-size: 23px;
}

.font-30 {
  font-size: 30px;
}

.border-bottom {
  border-bottom: #f1f2f4 1px solid;
  width: 100%;
}

.button-contact {
  background: #294463;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 12px;
  font-size: 14px;
  font-family: Avenir, sans-serif;
}

.button-started {
  background: #294463;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 30px;
  font-size: 14px;
  font-family: Avenir, sans-serif;
  margin-right: 25px;
}

.align-items {
  align-items: center;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.background-silver {
  background: #fafafa;
}

.background-grey {
  background: #525351;
}

.color-white {
  color: #fff;
}

.color-dark-grey {
  color: #6e6e6e;
}

.color-light-grey {
  color: #707070;
}

.padding-fifteen {
  padding: 0 15%;
}

.padding-right {
  padding-right: 40px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-bottom-60 {
  padding-bottom: 60px;
}

.header-padding {
  padding: 15px;
}

.navbar-padding {
  padding: 0 15px;
}

.footer-padding {
  padding: 50px 15%;
}

.padding-info-section {
  padding: 80px 15% 110px;
}

.line-height-22 {
  line-height: 22px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-no-top {
  margin-top: 0;
}

.margin-left-25 {
  margin-left: 25%;
}

.margin-right-15 {
  margin-right: 15%;
}

.margin-top-20 {
  margin-top: 20px;
}

.canvas-logo {
  width: 110px;
}

.hero-image {
  max-width: 100%;
  height: auto;
  filter: brightness(80%);
  margin: 50px 0;
}

.hero-text {
  top: 20%;
  left: 5%;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}
